html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em "Source Sans Pro", serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background: hsla(343, 82%, 76%, 1) url(../images/bg.png);
  color: hsla(0, 0%, 12%, 1);
}

h1, h2, h3, h4, h5, h6, p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Share Tech Mono", monospace;
  letter-spacing: -.075rem;
}

h1 {
  font-size: 2.25rem; 
}
h2 {
  font-size: 1.62671rem;
}
h3 {
  font-size: 1.38316rem; 
}
h4 {
  font-size: 1rem; 
}
h5 {
  font-size: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a, a:visited, a:active {
  text-decoration: none;
  color: hsla(0, 0%, 12%, 1);
  border-bottom: thin hsla(0, 0%, 12%, 1) dashed;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
 border-bottom: none;
}